/* Game-Title, Screen Title, Button, Item Name, Recource Number */
@font-face {
  font-family: Nunito-Sans;
  src: url("../assets/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

@font-face {
  font-family: Merriweather-Sans;
  src: url(../assets/fonts/MerriweatherSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

/* description */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-color: #111;
}

.container {
  position: relative;
  width: 100%;
  max-width: 500px;
  /* aspect-ratio: 9/16; */
  height: 100%;
  margin: 0 auto;
  background-color: #0a1630;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* gap: 10px; */
  color: #e6f0ff;
  background-image: url(../assets/background/container-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max-content;
  flex-shrink: 0;
  border-bottom: 1px solid #ffffff50;
  padding-block: 10px;
  font-family: Nunito-Sans;
  font-weight: bolder;
}

header img {
  width: clamp(46px, 12vw, 52px);
  height: clamp(46px, 12vw, 52px);
  object-fit: contain;
  border: 3px solid #ffd545;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;
  min-height: 0;
  overflow-y: auto;
  display: none;
  scrollbar-width: none;
  /* border: 1px solid black; */
  gap: clamp(10px, 3vw, 16px);
  padding-bottom: clamp(10px, 3vw, 16px);
}

.content > * {
  flex-shrink: 0;
}

/* KINGDOM CONTENT */
.scoreboard {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  padding: 10px 0;
  font-weight: bold;
  font-family: Nunito-Sans;
  font-weight: 800;
  font-size: clamp (16px, 4.5vw, 20px);
}

.scoreboard > div {
  flex: 1;
}

.coin {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.power {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.scoreboard > div img {
  width: clamp(46px, 12vw, 52px);
  height: clamp(46px, 12vw, 52px);
  object-fit: contain;
}

#coin-per-sec {
  font-family: Inter;
  color: #39ff14;
  font-weight: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(8px, 2.5vw, 12px);
  padding-block: 2px;
}

#click-area {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 0.1px dashed #e6f0ff50;
  background-image: url(../assets/background/click-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-weight: bold;
  font-size: clamp(14px, 4vw, 20px);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.click-effect {
  font-size: clamp(6px, 2vw, 12px);
  color: #39ff14;
  animation: fadeUp 0.5s linear;
}

@keyframes fadeUp {
  0% {
    opacity: 1;
  }
  100% {
    transform: translate(-10px, -200%) scale(0.9);
    opacity: 0.8;
  }
}

#click-area span {
  animation: floatingAnimation 2.3s ease-in-out forwards infinite;
}

@keyframes floatingAnimation {
  0% {
    transform: translateY(4px);
    opacity: 0.8;
    color: #ffd545;
    text-shadow: 0 0 10px #ffd54f;
  }
  50% {
    transform: translateY(-4px) scale(1.05);
    opacity: 1;
    color: #ffd54580;
    text-shadow: 0 0 10px #ffd54f80;
  }
  100% {
    transform: translateY(4px);
    opacity: 0.8;
    color: #ffd545;
    text-shadow: 0 0 10px #ffd54f;
  }
}

/* up-income */
.upgrade-income {
  padding: clamp(6px, 2vw, 10px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #05154550 0%, #15255550 100%);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid #e6f0ff50;
  gap: clamp(26px, 7vw, 32px);
  /* border-radius: 6px; */
}

.upgrade-income > div {
  width: 100%;
}

.above {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

#upgrade-income-button {
  height: 100%;
  flex: 1;
  background: transparent;
  border: none;
  background-color: #ffd545;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.1s ease-in;
  border-radius: 6px;
  font-weight: bold;
}

#upgrade-income-button:disabled {
  background-color: #656565;
}

#upgrade-income-button > span {
  font-family: Inter;
  text-transform: uppercase;
  color: #0a1630;
  font-weight: bold;
  font-size: clamp(10px, 3vw, 14px);
}

#upgrade-income-button:active {
  transform: translateY(2px);
}

#increment-price {
  font-family: Inter;
  background: rgba(5, 21, 69, 0.15);
  color: #e6f0ff;
}

.up-income-status {
  height: 100%;
  flex: 1;
  padding: 7px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

#increment-level {
  text-transform: uppercase;
  color: #e6f0ff;
  font-weight: 700;
  font-family: Inter;
  font-size: clamp(10px, 3vw, 14px);
}

#increment-amount {
  color: #39ff14;
  font-weight: 800;
  font-family: Merriweather-Sans;
  font-size: clamp(6px, 2vw, 12px);
}

/* upgrade rank */
.upgrade-rank {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid #e6f0ff50;
  /* border-radius: 6px; */
  padding-block: clamp(14px, 4vw, 18px);
  padding-inline: clamp(6px, 2vw, 10px);
  font-family: Inter;
  backdrop-filter: blur(3px);
}

.upgrade-rank > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.up-rank-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}

.up-rank-top progress {
  width: 100%;
  height: clamp(10px, 3vw, 16px);
  border-radius: 6px;
  border: 1px solid #e6f0ff50;
}

.up-rank-top .text-content:nth-child(2) {
  color: #ffd545;
}

.up-rank-top .text-content:nth-child(4) {
  color: skyblue;
}

.up-rank-top progress:nth-of-type(1)::-webkit-progress-value {
  background: #ffd545;
  border-radius: 6px;
}

.up-rank-top progress:nth-of-type(2)::-webkit-progress-value {
  background: skyblue;
  border-radius: 6px;
}

.up-rank-top progress::-webkit-progress-bar {
  background: #000;
  border-radius: 6px;
}

.up-rank-bottom button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #ffd545;
  font-family: Inter;
  text-transform: uppercase;
  font-size: clamp(10px, 3vw, 14px);
  font-weight: bold;
  color: #0a1630;
  cursor: pointer;
}

/* upgrades */
.nav-upgrade {
  width: 100%;
}

.nav-upgrade nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-upgrade-list {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upgrade-content {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.gold-info-for-up {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gold-info-for-up img {
  width: clamp(32px, 9vw, 40px);
  height: clamp(32px, 9vw, 40px);
  object-fit: contain;
}

.upgrade-card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  width: 100%;
  height: max-content;
  flex-shrink: 0;
  padding-top: 10px;
  border-top: 1px solid #ffffff50;
}

footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

footer .nav-list {
  flex: 1/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-family: Nunito-Sans;
  font-size: clamp(10px, 3.5vw, 16px);
  cursor: pointer;
  padding: clamp(2px, 1vw, 6px);
  gap: 7px;
}

.nav-list img {
  width: clamp(46px, 12vw, 52px);
  height: clamp(46px, 12vw, 52px);
  object-fit: contain;
}

/* UPGRADES CONTENT */

/* styling text */
.heading {
  font-weight: bold;
  font-size: clamp(24px, 7vw, 32px);
  font-family: Merriweather-Sans;
  text-transform: capitalize;
  color: #ffffff !important;
}

.text-content {
  font-size: clamp(10px, 3vw, 14px);
  font-family: Inter;
  text-align: justify;
}

.text-content::first-letter {
  text-transform: uppercase;
}

.text-content > *::first-letter {
  text-transform: uppercase;
}

/* display manipulation */
.show-content {
  display: flex !important;
}

/* nav manipulation */
.nav-active {
  color: #ffd545;
}

.nav-active img {
  transform: scale(1.25);
}

button:disabled {
  background-color: #656565;
}

/* modal */

/* edit-name-modal */
.edit-name-modal {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/background/container-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(8px,2.5vw,12px);
  display: none;
}
